@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
 body{
     font-size: small;
       
 }
body{
    background-image: url(image/all\ the\ best.jpg);
    position: relative;
    min-height: 700px;
  height:100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
     filter: brightness(100%);
}
.section{
    top: 100%;
    position: absolute;
}
.content{
    font-size: large;
    color: white;
    text-align: left;
    padding: 30px;
    font-family:'Tilt+Neon', sans-serif;
}
p{
    line-height: 1;
    letter-spacing: normal;
}
.main{
    color: white;
    text-align: right;


}
.motto{
    font-size: 5%;
    color: black;
    font-family: 'Ballet', sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: right;
    line-height: 1;
}
.TGIF{
    
  font-family:'Schoolbell', sans-serif;
  font-size: small;

}
.image{
    width: 20px;
}
footer{
    position: fixed;
    bottom: 50px;
    left: 0;
    width: 100%;
    font-size: 150%;
    color: white;
    padding: 40px;
    text-align: right;
}

