@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
     font-size: small;
       
 }
section{
    background-image: url(image/all\ the\ best.jpg);
    position: relative;
    min-height: 700px;
  height:100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
     filter: brightness(100%);
}
.section{
    top: 100%;
    position: absolute;
}
.content{
    font-size: large;
    color: white;
    text-align: left;
    padding: 30px;
    font-family:'Tilt+Neon', sans-serif;
}
p{
    line-height: normal;
    letter-spacing: normal;
}
.main{
    color: white;
    text-align: right;
    left: 0%;
    margin-right: 0%;
    font-size: 150%;
    letter-spacing: 5px;
    padding: 30px;
   margin-top: 22%;
}
.motto{
    font-size: 5%;
    color: black;
    font-family: 'Ballet', sans-serif;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: right;
    line-height: 1;
}
.TGIF{
    
  font-family:'Schoolbell', sans-serif;
  font-size: small;

}
.image{
    width: 20px;
}
.media{
  display: inline;
  position: relative;
}
 
.icon{
    width: 2%;
    position: relative;
    left: 40%; 
    bottom: 0px;  
}
.icon:hover {
    
    transform: scale(1.2);
    transition: 0.5s ease-out;
}
 
